/*baisic*/
html{font-size: 10px;}
html, body{
    min-height: 100%;
    width: 100%;
}
body{
    font: 1.8rem/1.2 'Gothic A1', sans-serif;
    color: #000;
    font-weight: 400;
    min-width: 310px; 
    min-height: 100%;
    position: relative;
	overflow-x: hidden;
    font-stretch: condensed;
    opacity: 1;	
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
 	transition: background-color 1s ease; 
}

/*clearfix*/
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}
.clearfix{
	zoom: 1;
}

/*box-sizing*/
*, *:before, *:after, input[type="search"]{
    box-sizing: border-box;
}

/*browserhappy*/
.browserhappy{
    background: red;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    font-size: 20px;
    color: #fff;
    strong{text-transform: uppercase;}
    a{
        color: yellow;
        text-decoration: underline;
        &:hover{text-decoration: none;}
    }
}

/*typographyc-reset*/
ol,ul,li{    
    margin:0;
    padding: 0;    
}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/*link reset*/
a{
    text-decoration: none;
    outline: none;
    transition: .25s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:-moz-any-link:focus ,
    &:-moz-focusring,
    &::-moz-focus-inner,
    &::-moz-focus-outer{
        outline: 0!important;
        outline: none;
    }
    &:active {
        outline: none;
    }
}

/*img reset*/
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*layout*/
.fp-viewing-sec-1,
.fp-viewing-sec-2{background-color: #FCD846;}
.fp-viewing-sec-3,
.fp-viewing-sec-4,
.fp-viewing-sec-5-0{background-color: #2992FA;}
.fp-viewing-sec-5-1,
.fp-viewing-sec-6,
.fp-viewing-sec-7-0{background-color: #262A3C;}
.fp-viewing-sec-7-1,
.fp-viewing-sec-8,
.fp-viewing-sec-9-0{background-color: #3FB8A9;}
.fp-viewing-sec-9-1,
.fp-viewing-sec-10,
.fp-viewing-sec-11-0{background-color: #7427F2;}
.fp-viewing-sec-11-1,
.fp-viewing-sec-12,
.fp-viewing-sec-13-0{background-color: #EA3F3F;}
.fp-viewing-sec-13-1,
.fp-viewing-sec-14,
.fp-viewing-sec-15,
.fp-viewing-sec-16{background-color: #FCD846;}
.fp-viewing-sec-17,
.fp-viewing-sec-18,
.fp-viewing-sec-19{background-color: #2992FA;}


